<% if @post.errors.any? %>
<div class="alert alert<%= "name" == :notice ? "success" :"error"%>">
<a class="close" data-dismiss="alert">&#215;</a>
		<% @post.errors.full_messages.each do |msg| %>
			<%= msg %>
		<% end %>
</div>
<% end %>

<%= form_for(@post) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>

	<%= f.label :url %>
	<%= f.text_field :url %>
	<br>

	<%= f.label :description %>
	<%= f.text_area :description %>
	<br>
	<%= f.submit class: "btn btn-primary btn-large"  %>

<% end %>