<h3>Check out these post</h3>

<ul>
<% @post.each do |post| %>
	<li><%= link_to post.title, post_path(post) %> ( <%= link_to 'Edit', edit_post_path(post) %> )
	posted by <%= post.user.username %> on <%= date_format(post.user.created_at) %>
	</li>
<% end %>
</ul>

<h3>Categories</h3>
<ul>
<% @category.each do |category| %>
	<li><%=  category.name %> </li>
<% end %>
</ul>
