
<h3><%= @post.title %></h3>
<p>
	<%= link_to @post.url, fix_url(@post.url) %><br>

Post: <%= link_to @post.title, fix_url(@post.url) %>
<p>

	<%= @post.description %>
</p>

<h3>Comments</h3>

<%= render 'shared/errors', obj: @comment %>

<%= form_for [@post, @comment] do |f| %>
	<%= f.label :body, "Leave a Comment" %>
	<%= f.text_area :body, rows: 5 %>
	<br>
	<%= f.submit "Create Comment", class: "btn btn-primary" %>
<% end %>



<h4><%= @post.comments.size %> comments</h4>

<ul>
	<% @post.comments.each do |comment| %>
	<li><%= comment.body %></li>
	<% end %>
</ul>

