<div class="span12">
	<p class="lead"><%= link_to "All Posts", posts_path %> >> <%= @show_category.name %></p>
</div>


<% @show_category.posts.each do |c| %>
	<ul>
		<li><%= c.title %></li>
	</ul>
	<p><%= @post.title %></p>
	<p><%= @post.description %></p>
<% end %>



